body { 
  margin: 0px;
}

.container {

}

img {
  width: 100%;
} 

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #49D19E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #49D19E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label .switch {
  display: none;
}

/* CALENDAR ANIMATION */
@keyframes cf3FadeInOut {
  0% {
      opacity:1;
  }
  45% {
      opacity:1;
  }
  55% {
      opacity:0;
  }
  100% {
      opacity:0;
  }
}


#calendar_img img {
  position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    -ms-transition: opacity 5s ease-in-out;    
    transition: opacity 5s ease-in-out;
}

#location_picker {
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/adventure.JPG");
  background-size: cover;
  color: white;
}

.number_location {
  font-style: bold;
  color: gray;
}

span {
  color:#C87D68;
}

.location_picker {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  padding: 10px;
}

#see_calendar {
  justify-self: center;
}

.locationtitle {
  color: pink;
}

label .switch {
  display: none;
}
